* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    background: #111;
}

.container {
    display: flex;
    width: 90vw;
    gap: 10px;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 20px;
    flex: 0.5;
    position: relative;
    cursor: pointer;
    transition: white;
}